@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BCIT Comp 3973</h1>
    <h3>W04 Code 1st Development<h3>
    <h3>Cameron Rowe - A00201671</h4>
    <p>Find out about .NET and MVC <a href="https://www.bcit.ca/study/courses/comp3973">at BCIT with Medhat Elmasry</a></p>
</div>